{namespace flux=FluidTYPO3\Flux\ViewHelpers} {namespace v=FluidTYPO3\Vhs\ViewHelpers}
<f:layout name="Content" />
<f:section name="Configuration">
    <flux:form id="sectioncethreecols" options="{group:'FCE', icon:'{f:uri.resource(path: \'Icons/Content/bhsiteconf_3cols.png\')}'}">
        <flux:grid>
            <flux:grid.row>
                <flux:grid.column style="width:50%;border-right: 1px dotted #999;" name="subcolumn-1" label="Main Subcolumn" />
                <flux:grid.column style="width:25%;border-right: 1px dotted #999;" name="subcolumn-2" label="First Small Subcolumn" />
                <flux:grid.column style="width:25%" name="subcolumn-3" label="Second Small Subcolumn" />
            </flux:grid.row>
        </flux:grid>
    </flux:form>
</f:section>
<f:section name="Preview">
    <flux:widget.grid />
</f:section>
<f:section name="Main">
    <div class="row">
        <div class="medium-6 large-6 columns">
            <flux:content.render area="subcolumn-1" /> </div>
        <div class="medium-6 large-3 columns">
            <flux:content.render area="subcolumn-2" /> </div>
        <div class="medium-12 large-3 columns">
            <flux:content.render area="subcolumn-3" /> </div>
    </div>
</f:section>